* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
}

main {
  width: 50%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 2rem;
  background-color: #2d4677f1;
  transition: all 0.3s ease;
}

main:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  /* color: white; */
  color: #d3d3d3;
}

form {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

form input {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-width: 1.8rem;
  max-width: 50rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  text-indent: 1rem;
  outline: none;
}

form input[type="submit"] {
  margin-top: 3rem;
  background-color: #58cdd1;
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  height: 4rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: white;
  color: #58cdd1;
  border: 1px solid black;
}

p {
  height: 10%;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  color: #da2e97;
}